---
trilogy: &trilogy
  adapter: trilogy
  encoding: utf8mb4
  host: {{ db_host }}
  port: 3306
  pool: 7
  username: lobsters
  password: lobsters

sqlite3: &sqlite3
  adapter: sqlite3
  timeout: 1000

development:
  primary:
    <<: *trilogy
    database: {{ version.db_name }}
  cache:
    <<: *sqlite3
    database: db/development/cache.sqlite3
    migrations_paths: db/development/cache_migrate
  queue:
    <<: *sqlite3
    database: db/development/queue.sqlite3
    migrations_paths: db/development/queue_migrate
